# mac
.DS_Store
._.vs
._.github
._.vscode
._.gitignore

# windows
.vs
.github
.vscode
.config
.dockerignore
.github
*.nupkg
*.user
*.yml
*.log
*.bkp
*.dll
*.exe
*.db

f
bin
obj
Logs
runtimes
PublishProfiles
LiteDB
Bottom
Debug
Release
Rejected
BuildFile